@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: poppins-regular;
}

@media (min-width: 765px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}

.font-bold {
  font-family: poppins-bold;
}

.font-medium {
  font-family: poppins-medium;
}

@font-face {
  font-family: poppins-regular;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
